service/src/my/webservice/com/Flight.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="my.webservice.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="my.webservice.com" name="FlightHandlerService">
<types>
<xsd:schema>
<xsd:import namespace="my.webservice.com" schemaLocation="http://localhost:1002/Flight?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getFlightsDepartures">
<part name="parameters" element="tns:getFlightsDepartures"></part>
</message>
<message name="getFlightsDeparturesResponse">
<part name="parameters" element="tns:getFlightsDeparturesResponse"></part>
</message>
<message name="getFlightsDestination">
<part name="parameters" element="tns:getFlightsDestination"></part>
</message>
<message name="getFlightsDestinationResponse">
<part name="parameters" element="tns:getFlightsDestinationResponse"></part>
</message>
<message name="getFlight">
<part name="parameters" element="tns:getFlight"></part>
</message>
<message name="getFlightResponse">
<part name="parameters" element="tns:getFlightResponse"></part>
</message>
<portType name="FlightHandler">
<operation name="getFlightsDepartures">
<input wsam:Action="my.webservice.com/FlightHandler/getFlightsDeparturesRequest" message="tns:getFlightsDepartures"></input>
<output wsam:Action="my.webservice.com/FlightHandler/getFlightsDeparturesResponse" message="tns:getFlightsDeparturesResponse"></output>
</operation>
<operation name="getFlightsDestination">
<input wsam:Action="my.webservice.com/FlightHandler/getFlightsDestinationRequest" message="tns:getFlightsDestination"></input>
<output wsam:Action="my.webservice.com/FlightHandler/getFlightsDestinationResponse" message="tns:getFlightsDestinationResponse"></output>
</operation>
<operation name="getFlight">
<input wsam:Action="my.webservice.com/FlightHandler/getFlightRequest" message="tns:getFlight"></input>
<output wsam:Action="my.webservice.com/FlightHandler/getFlightResponse" message="tns:getFlightResponse"></output>
</operation>
</portType>
<binding name="FlightHandlerPortBinding" type="tns:FlightHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getFlightsDepartures">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFlightsDestination">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFlight">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="FlightHandlerService">
<port name="FlightHandlerPort" binding="tns:FlightHandlerPortBinding">
<soap:address location="http://localhost:1002/Flight"></soap:address>
</port>
</service>
</definitions>