webServiceClient/src/com/service/bank/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank.service/" name="BankService_implService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.bankservice.com" schemaLocation="http://0.0.0.0:10003/Bank?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://bank.service/" schemaLocation="http://0.0.0.0:10003/Bank?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="withdraw">
<part name="parameters" element="tns:withdraw"></part>
</message>
<message name="withdrawResponse">
<part name="parameters" element="tns:withdrawResponse"></part>
</message>
<message name="NotAuthenticatedException_Exception">
<part xmlns:ns1="http://www.bankservice.com" name="fault" element="ns1:NotAuthenticatedException"></part>
</message>
<message name="checkAccount">
<part name="parameters" element="tns:checkAccount"></part>
</message>
<message name="checkAccountResponse">
<part name="parameters" element="tns:checkAccountResponse"></part>
</message>
<portType name="BankService_impl">
<operation name="withdraw">
<input wsam:Action="http://bank.service/BankService_impl/withdrawRequest" message="tns:withdraw"></input>
<output wsam:Action="http://bank.service/BankService_impl/withdrawResponse" message="tns:withdrawResponse"></output>
<fault message="tns:NotAuthenticatedException_Exception" name="NotAuthenticatedException_Exception" wsam:Action="http://bank.service/BankService_impl/withdraw/Fault/NotAuthenticatedException_Exception"></fault>
</operation>
<operation name="checkAccount">
<input wsam:Action="http://bank.service/BankService_impl/checkAccountRequest" message="tns:checkAccount"></input>
<output wsam:Action="http://bank.service/BankService_impl/checkAccountResponse" message="tns:checkAccountResponse"></output>
<fault message="tns:NotAuthenticatedException_Exception" name="NotAuthenticatedException_Exception" wsam:Action="http://bank.service/BankService_impl/checkAccount/Fault/NotAuthenticatedException_Exception"></fault>
</operation>
</portType>
<binding name="BankService_implPortBinding" type="tns:BankService_impl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="withdraw">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NotAuthenticatedException_Exception">
<soap:fault name="NotAuthenticatedException_Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="checkAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="NotAuthenticatedException_Exception">
<soap:fault name="NotAuthenticatedException_Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BankService_implService">
<port name="BankService_implPort" binding="tns:BankService_implPortBinding">
<soap:address location="http://0.0.0.0:10003/Bank"></soap:address>
</port>
</service>
</definitions>