webService/src/Booking.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions name="Booking"
             targetNamespace="http://www.Booking.com"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.Booking.com"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
               xmlns:tns="http://www.Booking.com"
               elementFormDefault="unqualified"
               targetNamespace="http://www.Booking.com" version="1.0">

      <xs:element name="bookTicket" type="tns:bookTicket"/>
      <xs:element name="bookTicketResponse" type="tns:bookTicketResponse"/>
      <xs:element name="getTicket" type="tns:getTicket"/>
      <xs:element name="getTicketResponse" type="tns:getTicketResponse"/>

      <xs:complexType name="bookTicket">
        <xs:sequence>
          <xs:element minOccurs="1" name="creditcard" type="xs:string"/>
          <xs:element minOccurs="1" name="itineraryid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="bookTicketResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="transacionid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTicket">
        <xs:sequence>
          <xs:element minOccurs="1" name="transacionid" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getTicketResponse">
        <xs:sequence>
          <xs:element minOccurs="1" name="ticket" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="bookTicket">
    <wsdl:part element="tns:bookTicket" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookTicketResponse">
    <wsdl:part element="tns:bookTicketResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicket">
    <wsdl:part element="tns:getTicket" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTicketResponse">
    <wsdl:part element="tns:getTicketResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="Booking">
    <wsdl:operation name="bookTicket">
      <wsdl:input message="tns:bookTicket" name="bookTicket">
      </wsdl:input>
      <wsdl:output message="tns:bookTicketResponse" name="bookTicketResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicket">
      <wsdl:input message="tns:getTicket" name="getTicket">
      </wsdl:input>
      <wsdl:output message="tns:getTicketResponse" name="getTicketResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="BookingSoapBinding" type="tns:Booking">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookTicket">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookTicket">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicket">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTicket">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <service name="Booking">
    <port name="Booking" binding="tns:BookingSoapBinding">
      <soap:address location="http://localhost:8080//services/flight/Booking/Booking"/>
    </port>
  </service>




</definitions>